:root {
    --primary: #c0dbd9;
    --secondary: #7faff7;
    --white: #fff;
    --lightGreen: #b3f95a;
    --green: #8ad191;
    --blue: #88b5bf;
    --darkBlue: #0d89b0;
    --lightBlue: #a5c7f9;
    --transition:all .5s ease-in-out;
  }